<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.martroutine.android.ui_xlo.app" >

    <application
        android:name="com.martroutine.android.uixlo.app.BaseXLOApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:logo="@drawable/instruction_xlo_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.martroutine.android.uixlo.activity.InitialActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.martroutine.android.uixlo.activity.MainActivity"
            android:theme="@style/CustomSherlockTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
    </application>

</manifest>
